<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
	<string>app-store</string>
	<key>destination</key>
	<string>upload</string>
	<key>uploadBitcode</key>
	<false/>
	<key>uploadSymbols</key>
	<true/>
	<key>compileBitcode</key>
	<false/>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>UJVX2L36BX</string>
	<key>signingStyle</key>
	<string>automatic</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.saharkroglen.iosAlarm</key>
		<string>iOS Team Provisioning Profile: com.saharkroglen.iosAlarm</string>
	</dict>
</dict>
</plist>
